/* 
------------------------------
ЦВЕТА 
------------------------------
*/

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/* 
------------------------------
MAIN 
------------------------------
*/


h1,
h2,
h3,
h4,
h5,
ul,
p,
a {
  margin: 0;
}


.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}



.ul {
  padding-left: 0;
}


.link {
  text-decoration: none;
  text-decoration: none;
}


.list {
  list-style: none;
}


.section {
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}


@media only screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

/* 
------------------------------
INDEX HTML
------------------------------
*/







/* 
------------------------------
HEADER
------------------------------
*/



.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}


.navigation {
  display: flex;
  align-items: center;
}


.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-two {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  line-height: 1.17;
}


.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}


.menu-studio {
  display: block;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 24px 0;
}

.menu-nav-item {
  display: block;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 24px 0;
}

.menu-nav-item:hover {
  color: #404bbf;
}

.menu-nav-item:focus {
  color: #404bbf;
}


.menu-studio::after {
  border-radius: 2px;
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #404BBF;

}

.menu-studio::after::after:hover {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #404BBF;
  opacity: 1;
}

.addresses-list {
  display: block;
  padding-right: 40px;
  max-width: 310;
  gap: 40px;
}

.menu-nav:hover {
  color: #404bbf;
}

.menu-nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-item {
  margin: 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.address-item:hover {
  color: #404bbf;
}

.address-item:focus {
  color: #404bbf;
}

/* 
------------------------------
SECTION 1
------------------------------
*/

.section-one {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 188px 0;
  background: #2e2f42;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: 56px;
  max-width: 496px;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* 
------------------------------
SECTION 2
------------------------------
*/


.value-items-div {
  display: none;

}

@media only screen and (min-width: 1200px) {
  .value-items-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
    background: #F4F4FD;
    border-radius: 4px;
  }
}

.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-container {
  display: flex;
}


.values-list {
  flex-wrap: wrap;
  display: flex;
  gap: 24px;
}



@media only screen and (min-width: 1200px) {
  .values-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
   .values-list{
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.value-item {
  flex-basis: calc((100% - 72px) / 4);
}

.value-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1200px) {
  .value-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width:1199) {
  .value-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
margin-bottom: 8px;
  }
}

.value-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

}

@media only screen and (min-width: 1200px) {
  .value-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

@media only screen and (min-width: 768px) and (max-width:1199px) {
  .value-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

  }
}

/* 
------------------------------
SECTION 3
------------------------------
*/

.section-three {
  padding-bottom: 120px;
}

.third-title {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .third-title {
    display: block;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
}


.works-list {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .works-list {
    display: flex;
    gap: 24px;
  }
}


.works-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* 
------------------------------
SECTION 4
------------------------------
*/

.section-fourth {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
  }
}


.team-div {
  padding: 32px 0;
}


.team-container-div {
  padding: 32px 0;
}

.team-item {
  margin-bottom: 72px;
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;


}


@media only screen and (min-width: 1200px) {
  .team-item {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
}


.team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.h-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.p-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.dudes {
  display: block;
}




/* 
------------------------------
SECTION 5
------------------------------
*/


.five-div {
  width: 1128px;
}


/* 
------------------------------
FOOTER
------------------------------
*/


.footer-container {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  max-height: 315px;
}


.footer-index-social {
  flex-direction: column;
  display: flex;

}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}

.footer-logo-two {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}




/* 
------------------------------
PORTFOLIO
------------------------------
*/





/* 
------------------------------
HEADER
------------------------------
*/

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-header-container {
  justify-content: space-between;
  display: flex;
}

.portfolio-nav {
  display: flex;
  align-items: center;
}

.menu-portfolio {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
  padding: 24px 0;
}

.portfolio-menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.portfolio-menu-nav-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  padding: 24px 0;
}

.portfolio-menu-nav-item:hover {
  color: #404bbf;
}


.menu-portfolio::after {
  border-radius: 2px;
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #404BBF;
}

.portfolio-menu-nav-item::after:hover {
  left: 0;
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #404BBF;
  opacity: 1;
}

.addresses-list {
  display: flex;
  gap: 40px;
}

.portfolio-menu-nav:hover {
  color: #404bbf;
}

.portfolio-menu-nav:focus {
  color: #404bbf;
}


/* 
------------------------------
1 SECTION
------------------------------
*/



.portfolio-buttons {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-buttons:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-buttons:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.div-portfolio {
  border: #2e2f42;
  border-top: none;
}

.portfolio-section {
  padding: 96px 0 120px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.apps-item {
  display: flex;
  background: #ffffff;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.apps-item-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.p-p-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;

}

.apps-item-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.apps-list-item {
  width: calc((100% - 48px) / 3);
}

.app-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


.foto-item-portfolio {
  position: relative;
  overflow: hidden;
}

.foto-item-portfolio-text {
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
}



.apps-item-link:focus .foto-item-portfolio-text {
  transform: translateY(0%);
}

.apps-item-link:hover .foto-item-portfolio-text {
  transform: translateY(0%);
}



.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: #404bbf;
}


.social-link:focus {
  background-color: #404bbf;
}



.media-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: inline-block;
}

.social-icons {
  fill: #f4f4fd;
}

/*CUSTOMERS*/

.customers-title {
  margin-top: 0px;
  margin-bottom: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.1;
}


.customers-icon {
  fill: currentColor;
}

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cus-container {
  width: 1140px;
}


.customers-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;

}

.customers-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  ;
}

.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.social-title {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: hsl(0, 0%, 100%);
}

.footer-index-social {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.footer-social-media-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media-link:hover {
  background-color: #31d0aa;
}

.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.social-ikons {
  fill: #f4f4fd;
}

.footer-container-social-two {
  margin-right: auto;
  gap: 16px;
}

.footer-container {
  display: flex;
}


.footer-social-media-item {
  width: 40px;
  height: 40px;
}

/* SUBSCRIBE */

.form-subscribe {
  display: flex;
}

.subscribe-btn {
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin-left: 24px;
  margin-top: 15px;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
}

.subscribe-btn:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404BBF;
}

.subscribe-btn:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404BBF;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-subscribe-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.label-email {
  display: flex;
  align-items: flex-end;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.email-input {
  padding-left: 12px;
  margin-top: 16px;
  outline: transparent;
  color: #FFFFFF;
  background-color: #2E2F42;
  width: 264px;
  height: 40px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email-input::placeholder {
  color: #FFFFFF;
}

.subscribe-p {
  padding-right: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  /* WHITE */

  color: #FFFFFF;
}

.telegram-button-text {
  position: relative;
  padding-left: 24px;
  padding-top: 8px;
  width: 77px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.telegram-svg {
  display: inline-flex;
  position: absolute;
  margin-left: 90px;
  align-items: center;
  text-align: center;
  justify-content: center;

  flex: none;
  order: 1;
  flex-grow: 0;


}

/*  JS   */

.modal-blank {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  position: relative;
  margin-top: 16px;
}

.modal-blank-open {
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
  width: 408px;

}


.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  padding: 0;
  border-radius: 50%;
  right: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.svg-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-close-btn:hover .svg-modal-close {
  fill: #ffffff;
}

.modal-close-btn:focus .svg-modal-close {
  fill: #ffffff;
}



.modal-text-accept {
  margin-left: 10px;
}

.modal-blank-div {
  align-items: center;
  display: flex;
}


.modal-send-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.modal-send-btn:hover {
  background-color: #404bbf;
}

.modal-send-btn:focus {
  background-color: #404bbf;
}

.modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}


.modal-text-accept {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.modal-name-input {
  padding-left: 35px;
  outline: transparent;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-radius: 4px;
}

.modal-name-input:hover {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #4D5AE5;
}

.modal-name-input:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #4D5AE5;
}

.modal-svg-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 0px;
  gap: 4px;

  position: absolute;
  fill: #2E2F42;
}


.modal-blank-div:hover {
  fill: #4D5AE5;
}

.modal-blank-div:focus .modal-svg-icon {
  fill: #4D5AE5;
}

.modal-name-input:hover+.modal-svg-icon {
  fill: #4d5ae5;
}

.modal-name-input:focus+.modal-svg-icon {
  fill: #4d5ae5;
}

.agreement-label {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.text-area-input {
  resize: none;
  padding-top: 6px;
  padding-left: 12px;
  margin-bottom: 16px;
  outline: transparent;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-radius: 4px;
}

.text-area-input:hover {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #4D5AE5;
}

.text-area-input:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #4D5AE5;
}

.text-area-input:hover::placeholder {
  color: #4d5ae5;
}

.text-area-input:focus::placeholder {
  color: #4d5ae5;
}

.modal-blank-div {
  position: relative;
}

.text-area-input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-label-name {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.checkbox-input {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='%23F4F4FD' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}


.checkbox-input:checked {
  background-color: #404BBF;
  border-color: #404BBF;
}


/* 
------------------------------
MOBILE MODAL
------------------------------
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}