*,
*::before,
*::after{
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bottom-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-contacts{
    font-style: normal;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header-contacts{
        position: absolute;
        right: 16px;
    }
}
@media only screen and (min-width: 1200px) {
    .header-contacts {
        margin-left: 331px;
    }
}
.box{
    display: flex;
    align-items: center;
}
.container{
    /* Phone styles */
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}
/* Tablet styles */
@media only screen and (min-width: 768px) {
    .container{
        max-width: 736px;
    }
}
/* Desktop styles */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}
.nav-contacts{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.contacts-list{
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767px) {
    .contacts-list {
        display: none;
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: var(--base-text-color);
    background-color: var(--primary-text-color);
}
:root{
    --primary-text-color: #ffffff;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --base-text-color: #434455;
    --bth-hover-color: #404bbf;
    --bth-secondary-color: #e7e9fc;
    --second-white-text: #f4f4fd;
    --bottom-color: #e7e9fc;
    --icon-color: #afb1b8;
    --section-icon-color: #8e8f99;
    --modal-color: #fcfcfc;
    --transition-time: 250ms;
    --animation-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .mail-list {
       display: none;
    }
}
@media only screen and (min-width: 1200px) {
    .mail-list{
        display: flex;
        gap: 40px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .cont-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }
}
.section-first {
    background: var(--title-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 428px) {
    .section-first{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/images.raster/Dark-bg@1x.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-first {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/images.raster/Dark-bg@2x.jpg);
            }
        }
}
@media only screen and (min-width: 429px) and (max-width: 768px) {
    .section-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/images.raster/Dark-bigest@1x.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .section-first{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/images.raster/Dark-bigest@2x.jpg);
        }
    }
}
@media only screen and (min-width: 769px) {
    .section-first {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/images.raster/people-office1@1x.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .section-first {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/images.raster/people-office1@2x.jpg);
            }
        }
}
.section-second{
    padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
    .section-second {
        padding: 120px 0;
    }
}
.box-section-second{
    margin: 0 auto;
    padding: 0 16px;
}
@media only screen and (max-width: 767px) {
    .box-section-second {
        max-width: 396px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .box-section-second {
        max-width: 768px;
    }
}
@media only screen and (min-width: 1200px) {
    .box-section-second {
        max-width: 1158px;
    }
}
.text-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--second-white-text);
    border-radius: 4px;
    margin-bottom: 8px;
}
.text-list{
    display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .text-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
}
@media only screen and (min-width: 1200px) {
    .text-list {
        display: flex;
        gap: 24px;
    }
}
@media only screen and (min-width: 768px) {
    .item-text {
        width: calc((100% - 24px) / 2);
    }
}
@media only screen and (min-width: 1200px) {
    .item-text {
        width: calc((100% - 72px) / 4);
    }
}
.item-text:not(:last-child) {
margin-bottom: 72px;
}
@media only screen and (min-width: 768px) and (min-width: 1199px) {
    .item-text {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .item-text {
        margin-bottom: 0;
    }
}
.section-third{
    /* Phone media */
    display: none;
    min-width: 320px;
    max-width: 428px;
}
/* Tablet styles */
@media only screen and (min-width: 768px) {
    .section-third {
        max-width: 736px;
        display: none;
    }
}
/* Desktop styles */
@media only screen and (min-width: 1200px) {
    .section-third {
        max-width: 1158px;
        display: block;
        padding-bottom: 120px;
        margin: 0 auto;
    }
}
.phone-list{
    display: flex;
    gap: 24px;
}
.item-fase{
    flex-basis: calc((100% - 48px) / 3);
}
@media only screen and (max-width: 1199px) {
    .section-fourth{
        margin-bottom: 96px;
        background-color: var(--second-white-text);
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .section-fourth {
        padding: 82px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .section-fourth {
        padding: 96px 0; 
    }
}
@media only screen and (min-width: 1200px) {
    .section-fourth {
        padding: 120px 0;
        background-color: var(--second-white-text);
    }
}
.media-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.mobile-contacts{
    margin-bottom: 48px;
}
.mobile-socials{
    display: flex;
    gap: 56px;
}
.mobile-menu{
    margin-bottom: auto;
}
.media-item{
    width: 40px;
    height: 40px;
}
.media-pic{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-time) var(--animation-delay);
}
.media-pic:hover,.media-pic:focus{
    background-color: var(--bth-hover-color);
}
.media-logo{
    fill: var(--second-white-text);
}
.holder{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}
.fase-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
@media only screen and (min-width: 1200px) {
    .fase-list {
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .fase-list {
        margin: 0 66px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .fase-list {
        min-width: 552px;
        margin: 72px 108px 96px 75px;
        gap: 64px 24px;
    }
}
.item-man{
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: var(--primary-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 320px) and (max-width: 1199px) {
    .item-man {
        min-width: 264px;
    }
}
.section-fifth{
    padding-top: 120px;
    padding-bottom: 120px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .section-fifth {
        margin: 0 108px 96px 108px;
    }
}
.icon-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}
@media only screen and (min-width: 1200px) {
    .icon-list {
        flex-wrap: nowrap;
    }
}
/* @media only screen and (min-width: 320px) and (max-width: 767px) {
    .icon-list {
        width: 396px;
    }
} */
.icon-item{
    flex-wrap: wrap;
    width: calc((100% - 120px) / 6);
    height: 88px;
}
@media only screen and (min-width: 768px) {
    .icon-item {
        width: calc((100% - 48px) / 3);;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .icon-item {
        width: calc((100% - 16px) / 2);
    }
}
.icon-pic{
    width: 100%;
    height: 100%;
    border: 1px solid var(--section-icon-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--section-icon-color);
    transition: border-color var(--transition-time) var(--animation-delay),
    color var(--transition-time) var(--animation-delay);
}
.icon-pic:hover,
.icon-pic:focus {
    border-color: var(--bth-hover-color);
    color: var(--bth-hover-color);
}
.icon-logo{
    fill: currentColor;
}
.logo-link{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 76px;
}
.dark-logo{
    color: var(--title-text-color);
    margin-right: auto;
}
.light-logo{
    color: var(--second-white-text);
}
.link{
    text-decoration: none;
}
.contact-link{
position: relative;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: var(--title-text-color);
padding: 24px 0;
display: block;
transition: color var(--transition-time) var(--animation-delay);
}
.contact-link.current{
    color: var(--bth-hover-color);
}
.current::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--bth-hover-color);
    left: 0;
    bottom: -1px;
    margin-top: 24px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--base-text-color);
    transition: color var(--transition-time) var(--animation-delay);
}
.contact-link:hover,.contact-link:focus{
    color: var(--bth-hover-color);
}
.contacts-link:hover,.contacts-link:focus{
    color: var(--bth-hover-color);
}
.mobile-link{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.mobile-link.numbers{
    color: var(--accent-color);
}
.mobile-link.studio{
    color: var(--bth-hover-color);
}
.mobal-mail{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--base-text-color);
}
.container-first{
    perspective: 500px;
}
.title {
    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
    max-width: 496px;
    margin: 0 auto 72px;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}
@media only screen and (min-width: 1200px) {
    .title{
        animation: move-to-left 800ms ease-in 600ms 3 alternate both;
        margin-bottom: 48px;
    }
}
.button{
   font-family: "Roboto",sans-serif;
   background-color: var(--accent-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--primary-text-color);
   cursor: pointer;
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
   margin: 0 auto;
   transition: background-color var(--transition-time) var(--animation-delay);
}
.button:hover,.button:focus{
   background-color: var(--bth-hover-color);
}

@media only screen and (min-width: 1200px) {
    .button {
        animation: move-to-right 800ms ease-in 600ms 3 alternate both;
    }
}
.caption{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        margin-bottom: 8px;
}
.headline{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
@media only screen and (min-width: 1200px) {
    .caption.headline{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 767px) {
    .caption.headline {
        max-width: 396px;
    }
}
.text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--base-text-color);
}
@media only screen and (max-width: 1199px) {
    .text-icon{
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    .text.text-second{
        font-weight: 500;
    }
}
@media only screen and (max-width: 767px) {
    .text.text-second {
        max-height: 48px;
    }
}
@media only screen and (min-width: 320px) {
    .diligence {
        max-height: 72px;
    }
}
.subject{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-text-color);
        margin-bottom: 72px;
}
.footer{
    background-color: var(--title-text-color);
    padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
    .footer {
        padding: 100px 0;
    }
}
.text-footer {
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-white-text);
    max-width: 264px;
}
@media only screen and (max-width: 767px) {
    .text-footer {
        max-width: 268px;
    }
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}
/* portfolio */
.portfolio-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--second-white-text);
    border: 1px solid var(--bottom-color);
    transition: color var(--transition-time) var(--animation-delay),
    background-color var(--transition-time) var(--animation-delay),
    box-shadow var(--transition-time) var(--animation-delay),
    border var(--transition-time) var(--animation-delay);
}
.portfolio-button:hover,.portfolio-button:focus{
    color: var(--primary-text-color);
    background-color: var(--bth-hover-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);;
}
.section {
    padding: 96px 0 120px 0;
}
.button-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .button-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 16px;
        min-height: 96px;
        min-width: 148px;
        margin: 48px 149px 48px 16px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .button-list {
        display: flex;
        gap: 24px;
        margin: 64px 91px;
    }
}
.portfolio-button{
    padding: 12px 24px;
    border-radius: 4px;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        min-width: 396px;
        max-width: 396px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        width: calc((100% - 24px) / 9);
    }
}
@media only screen and (min-width: 1200px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
}
.card{
    width: calc((100% - 48px) / 3);
}
.card-link {
    display: block;
    transition: box-shadow var(--transition-time);
}
.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
    transform: translateY(0)
}
.card-link:hover,.card-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-box{
    position: relative;
    overflow: hidden;
}
.card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition-time);
    background: var(--accent-color);
    letter-spacing: 0.02em;
    color: var(--second-white-text);
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    mix-blend-mode: normal;
}
.card-label{
    height: 96px;
}
.box-image{
    padding: 32px 16px;
    border: 1px solid var(--bottom-color);
    border-top: none;
}
.footer-box{
    display: flex;
    align-items: baseline;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-box {
        flex-wrap: wrap;
        max-width: 768px;
        gap: 24px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-container {
        display: block;
        margin-right: 120px;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-holder {
        margin-right: 80px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-holder {
        align-items: center;
        text-align: center;
    }
}
.icon-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}
.logo-list{
    display: flex;
    gap: 16px;
}
.logo-item{
    width: 40px;
    height: 40px;
}
.logo-pic{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-time);
}
.logo-pic:hover,.logo-pic:focus{
    background-color: #31d0aa
}
.logo-image{
    fill: var(--second-white-text);
}
.beckdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4); 
    transition: opacity var(--transition-time) var(--animation-delay),
    visibility var(--transition-time) var(--animation-delay); 
}
.beckdrop.is-hidden{ 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: absolute;
    padding: 24px;
    padding-top: 72px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    transition: transform var(--transition-time) var(--animation-delay),
    opacity var(--transition-time) var(--animation-delay);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--modal-color);
}
.beckdrop.is-hidden .modal{
    transform: translate(-50%, -50%) rotate(360deg) scale(0,1);
    opacity: 0;
}
.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background: var(--bth-secondary-color);
    cursor: pointer;
    transition: background-color var(--transition-time) var(--animation-delay),
    color var(--transition-time) var(--animation-delay);
}
.modal-button.close{
    background-color: var(--primary-text-color);
    border: 1px solid rgba(46, 47, 66, 0.1);
}
.modal-button:hover,.modal-button:focus{
    color: var(--primary-text-color);
    background-color: var(--bth-hover-color);
}
.modal-icon{
    fill: currentColor;
    transition: backround var(--transition-time) var(--animation-delay);
}
.form-text{
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.form-label-modal{
    display: block;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.desc{
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.box-form{
    position: relative;
    margin-bottom: 8px;
}
.form-input {
    width: 360px;
    height: 40px;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    outline: 1px solid transparent;
    padding: 0 38px;
    transition: border-color var(--transition-time) var(--animation-delay),
    fill var(--transition-time) var(--animation-delay);
}
.form-input:focus-within {
    border-color: var(--accent-color);
}
.form-area{
    display: block;
    resize: none;
    padding: 8px 0 0 16px;
    min-height: 120px;
    max-height: 180px;
    width: 360px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: border-color var(--transition-time) var(--animation-delay);
}
.form-area:focus-within {
    border-color: var(--accent-color);
}
.form-area::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.text-area{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}
.form-icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(19px);
    pointer-events: none;
    transition: fill var(--transition-time) var(--animation-delay);
    fill: var(--title-text-color);
} 
.form-input:focus + .form-icon{
    fill: var(--accent-color);
}
.button-form{
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--primary-text-color);
    background: var(--accent-color);
    transition: background-color var(--transition-time) var(--animation-delay);
}
.button-form:hover,
.button-form:focus{
    background-color: var(--bth-hover-color);
}
.form-sentens{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.checkbox-label{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.checkbox-input-form{
    appearance: none;
}
.modal-span-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: border var(--transition-time) var(--animation-delay),
    border-radius var(--transition-time) var(--animation-delay);
}
.modal-span-checkbox:focus{
    border: 1px solid var(--bth-hover-color);
    border-radius: 2px;
}
.checkbox-input-form:checked + .modal-span-checkbox{
    border: 1px solid var(--bth-hover-color);
    background-color: var(--bth-hover-color);
}
.modal-form-icon{
    fill: var(--primary-text-color);
}
.form-link{
    margin-left: 2px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0,04em;
    color: var(--accent-color);
}
.holder-container {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .holder-container {
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .holder-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        text-align: center;
        align-items: center;
    }
}
.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.booking-form {
    display: flex;
    margin-top: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .booking-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 398px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-form-label::placeholder {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
}
.footer-form-input {
    border: 1px solid var(--primary-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--title-text-color);
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
input[type="email"]::placeholder{
    color: var(--primary-text-color);
    opacity: 1;
}
@media only screen and (min-width: 428px) and (max-width: 767px) {
    .footer-form-input {
        min-width: 398px;
        width: 100%;
    }
}
.footer-form-button {
    display: flex;
    gap: 16px;
    text-align: left;
    align-items: center;
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    margin-left: 24px;
    width: 165px;
    height: 40px;
    border: none;
    transition: background-color var(--transition-time) var(--animation-delay);
}
.footer-form-button:hover,
.footer-form-button:focus{
    background-color: var(--bth-hover-color);
}
.footer-form{
    display: block;
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon{
    stroke: var(--title-text-color);
}
.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--primary-text-color);
    z-index: 999;
    overflow: scroll;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
    transform: translateX(0);
}
@media only screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
}
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.mobile-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.mobile-menu.link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.mobile-contacts{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}